body {
  color: black;
  background-color: #900020;
}

.new {
  color: white;
}

.container {
  margin: 100px;
}

ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
.marks {
  font-size: 30px;
  align-items: center;
  color: yellow;
}
.tit{
  align-items: center;
  background-image: url(../images/gaming.jpg);
  color: yellow;
  font-weight: bolder;
}
